hosts
doc/*.graffle
keys/backend.client.ssh
keys/backend.client.ssh.pub
keys/backend.client.dc.crt
keys/backend.client.dc.key
keys/backend.client.dc.p12
roles/common/vars/private.yml
roles/common/files/backend.server.ca.crt
roles/common/files/backend.server.ca.key
roles/dcservers/files/backend.server.dc.crt
roles/dcservers/files/backend.server.dc.key
roles/mailservers/files/backend.server.mail.crt
roles/mailservers/files/backend.server.mail.key
venv/
**/.DS_Store
**/*.retry
**/*.swp
