#!/bin/bash

if [ $# -eq 1 ]; then
  metric_name="$1"

  tmp=$(mktemp)
  chmod 0644 $tmp
  cat - > $tmp
  mv $tmp /var/lib/prometheus/node-exporter/${metric_name}.prom
elif [ $# -eq 5 ]; then
  metric_name="$1"
  labels="$2"
  value="$3"
  help="$4"
  type="$5"

  tmp=$(mktemp)
  chmod 0644 $tmp
  echo "# HELP $metric_name $help" > $tmp
  echo "# TYPE $metric_name $type" >> $tmp
  echo "$metric_name{$labels} $value" >> $tmp
  mv $tmp /var/lib/prometheus/node-exporter/${metric_name}.prom
else
  echo "usage: `basename $0` metric_name [labels value help type]"
  exit
fi
