Listen 443
LoadModule authz_core_module /usr/lib/apache2/modules/autzh_core_module.so
LoadModule proxy_module /usr/lib/apache2/modules/mod_proxy.so
LoadModule proxy_http_module /usr/lib/apache2/modules/mod_proxy_http.so
LoadModule ssl_module /usr/lib/apache2/modules/mod_ssl.so
<VirtualHost *:443>
  ServerName {{ansible_default_ipv4.address}}
  SSLEngine on
  SSLCipherSuite HIGH:!aNULL:!MD5
  SSLCertificateFile "/etc/ssl/certs/backend.server.dc.crt"
  SSLCertificateKeyFile "/etc/ssl/private/backend.server.dc.key"
  SSLVerifyClient require
  SSLVerifyDepth 1
  SSLCACertificateFile "/usr/local/share/ca-certificates/backend.server.ca.crt"
  ErrorLog /var/log/apache2/error.log
  LogFormat "%h %l %u %t \"%r\" %>s %b" backend
  CustomLog /var/log/apache2/access.log backend 
  LogLevel info
  <Location "/">
    SSLRequire %{SSL_CLIENT_S_DN_CN} eq "backend_client_dc"
    Redirect "/alerts" "/prometheus/alerts"
    Redirect "/api" "/prometheus/api"
    Redirect "/config" "/prometheus/config"
    Redirect "/flags" "/prometheus/flags"
    Redirect "/graph" "/prometheus/graph"
    Redirect "/rules" "/prometheus/rules"
    Redirect "/static" "/prometheus/static"
    Redirect "/status" "/prometheus/status"
    Redirect "/targets" "/prometheus/targets"
  </Location>
  <Location "/prometheus">
    SSLRequire %{SSL_CLIENT_S_DN_CN} eq "backend_client_dc"
    ProxyPass "http://localhost:9090"
    ProxyPassReverse "http://localhost:9090"
  </Location>
</VirtualHost>
