#!/bin/bash

if [ "$#" -ne 3 ]; then
  echo "usage: `basename $0` metric_name labels value"
  exit
fi

metric_name=$1
labels=$2
value=$3
timestamp=$(date +%s)

tmp=$(mktemp)
echo "$metric_name{$labels} $value $timestamp" > $tmp
mv $tmp {{mailservers_prom_directory}}/$metric_name
